<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.areuman.bbs.dao.TopicDAO">
  <select id="selectTopics" resultType="com.areuman.bbs.model.Topic">
    select * from topic
  </select>
  
  <select id="selectTopicsByAsc" resultType="com.areuman.bbs.model.Topic">
  	SELECT * FROM topic order by title ASC
  </select>
  
  <select id="selectTopicsByDesc" resultType="com.areuman.bbs.model.Topic">
  	SELECT * FROM topic order by title DESC
  </select>
  
  <select id="selectTopicsByDate" resultType="com.areuman.bbs.model.Topic">
  	SELECT * FROM topic order by modifyDate DESC
  </select>
  
  <insert id="insertTopic">
  	insert into topic (category, title, description, writer)
	values (#{category},#{title},#{description},#{writer});
  </insert>

  
</mapper>